main{
    justify-content: space-between;
}
.title{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(48, 41, 41);
    box-sizing: border-box;
}

.content{
    display: flex;    
    justify-content: space-around;
    height: 600px;
    border: 2px solid gray;
    box-sizing: border-box;
}

.content .A{
    align-items: center;
    padding-right: 110px;
    border-right: 2px solid gray;
    box-sizing: border-box;
}

.content .B{

    box-sizing: border-box;
}

.content .C{
    padding-right: 0px;
    padding-left: 80px;
    border-left: 2px solid gray;
    box-sizing: border-box;
}
